.not-visible{ 
    display:none;
}

body {
    background-color: navy;
}

.website-text {
    color: white;
    font-weight: bold;
}

.dz {
    border: dashed !important;
    border-color: #ccc !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}


